<h1>Make your form here</h1>
<h1>Pirate and Ships</h1>
<form action="/pirates" method="post">
  Pirate Name: <input type="text" name="pirate[name]">
  Pirate Weight <input type="text" name="pirate[weight]">
  Pirate Height <input type="text" name="pirate[height]">
  
